body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: rgb(44, 41, 38);
  text-decoration: none;
}
#main-header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  /* box-sizing: border-box; */
  background-color: rgb(29, 26, 24);
}
#logo {
  color: rgb(99, 145, 232);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 12px;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  text-transform: uppercase;
}
#main-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
#main-header li {
  margin: 0 1rem;
  text-align: right;
}
#main-header nav a {
  text-decoration: none;
  color: rgb(99, 145, 232);
  text-transform: capitalize;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  font-size: 1.25rem;
}
#main-header nav a:hover {
  color: rgb(148, 166, 199);
}
main h1 {
  text-align: center;
  color: rgb(99, 145, 232);
  font-size: 3rem;
}
#latest-products {
  width: 80%;
  margin: 2rem auto;
}
#latest-products ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
.food-item {
  background-color: rgb(182, 200, 228);
  border-radius: 6px;
  overflow: hidden;
}
.food-item img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}
.food-item-content {
  padding: 1rem;
  text-align: center;
}
.food-item-content h2 {
  text-transform: capitalize; 
}
.btn {
  background-color: rgb(44, 72, 228);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
}
.btn:hover {
  background-color: rgb(34, 134, 221);
}
