body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: rgb(44, 41, 38);
  text-decoration: none;
}
#main-header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  /* box-sizing: border-box; */
  background-color: rgb(29, 26, 24);
}
#logo {
  color: rgb(99, 145, 232);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 12px;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  text-transform: uppercase;
}
.menu-btn {
  width: 3rem;
  height: 3rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
}
.menu-btn span {
  width: 100%;
  height: 3px;
  background-color: white;
}

#main-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
#main-header li {
  margin: 0 1rem;
  text-align: right;
}
#main-header nav a {
  text-decoration: none;
  color: rgb(99, 145, 232);
  text-transform: capitalize;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  font-size: 1.25rem;
}
#main-header nav a:hover {
  color: rgb(148, 166, 199);
}
#side-drawer {
  width: 100%;
  height: 100%;
  background-color: rgb(29, 26, 27);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
#side-drawer:target {
  display: block;
}
#side-drawer header {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
}
#side-drawer ul {
  list-style: none;
  margin: 0;
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#side-drawer li {
  margin: 1rem 0;
}
#side-drawer a {
  text-decoration: none;
  color: rgb(148, 166, 199);
  font-size: 2rem;
  text-transform: capitalize;
}

main h1 {
  text-align: center;
  color: rgb(99, 145, 232);
  font-size: 3rem;
}
#latest-products {
  width: 80%;
  margin: 2rem auto;
}
#latest-products ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
.food-item {
  background-color: rgb(182, 200, 228);
  border-radius: 6px;
  overflow: hidden;
}
.food-item img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}
.food-item-content {
  padding: 1rem;
  text-align: center;
}
.food-item-content h2 {
  text-transform: capitalize;
  margin-top: 0;
}
.btn {
  background-color: rgb(44, 72, 228);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
}
.btn:hover {
  background-color: rgb(34, 134, 221);
}

@media (max-width: 48rem) {
  #main-header nav {
    display: none;
  }
  .menu-btn {
    display: flex;
  }
  main h1 {
    font-size: 1.5rem;
  }
  #latest-products ul {
    grid-template-columns: 100%;
  }
}
